.Renviron
.Rhistory
.Rapp.history
.RData
.Rproj.user/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# caches
*_cache/
/cache/
cache/

# R packages
packages/

# simulation data and outputs
data/
inputs/
outputs/
